In [28]:
from src.pmf import Pmf
import numpy as np

# PMF 관련 간단한 계산 연습

In [2]:
coin = Pmf()
coin['heads'] = 1 / 2
coin['tails'] = 1 / 2
coin

heads    0.5
tails    0.5
Name: , dtype: float64

In [6]:
die = Pmf.from_seq([1, 2, 3, 4, 5, 6])
die

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: , dtype: float64

In [16]:
letters = Pmf.from_seq(list('Mississippi'))
letters

M    0.090909
i    0.363636
p    0.181818
s    0.363636
Name: , dtype: float64

In [18]:
letters('t')

0

In [14]:
die([1,4,7])

array([0.16666667, 0.16666667, 0.        ])

# 문제 풀이

In [19]:
prior = Pmf.from_seq(['Bowl 1', 'Bowl 2'])
prior

Bowl 1    0.5
Bowl 2    0.5
Name: , dtype: float64

In [20]:
likelihood_vanilla = [0.75, 0.5]
posterior = prior * likelihood_vanilla
posterior

Bowl 1    0.375
Bowl 2    0.250
Name: , dtype: float64

In [21]:
posterior.normalize()

0.625

In [22]:
posterior

Bowl 1    0.6
Bowl 2    0.4
Name: , dtype: float64

In [23]:
posterior('Bowl 1')

0.6

In [24]:
posterior *= likelihood_vanilla
posterior.normalize()
posterior

Bowl 1    0.692308
Bowl 2    0.307692
Name: , dtype: float64

In [25]:
likelihood_chocolate = [0.25, 0.5]

In [26]:
posterior *= likelihood_chocolate
posterior.normalize()
posterior

Bowl 1    0.529412
Bowl 2    0.470588
Name: , dtype: float64

In [29]:
hypos = np.arange(101)

In [30]:
prior = Pmf(1, hypos)
prior.normalize()

101

In [31]:
prior.head()

0    0.009901
1    0.009901
2    0.009901
Name: , dtype: float64

In [32]:
likelihood_vanilla = hypos/100
likelihood_vanilla[:5]

array([0.  , 0.01, 0.02, 0.03, 0.04])

In [33]:
posterior1 = prior * likelihood_vanilla
posterior1.normalize()
posterior1.head()

0    0.000000
1    0.000198
2    0.000396
Name: , dtype: float64

In [34]:
posterior2 = posterior1 * likelihood_vanilla
posterior2.normalize()

0.6699999999999999

In [35]:
likelihood_chocolate = 1 - hypos/100
posterior3 = posterior2 * likelihood_chocolate
posterior3.normalize()

0.2462686567164179

In [36]:
posterior3.idxmax()

67

In [37]:
posterior3.max_prob()

67

In [38]:
hypos = [6, 8, 12]

In [39]:
prior = Pmf(1/3, hypos)
prior

6     0.333333
8     0.333333
12    0.333333
Name: , dtype: float64

In [40]:
prior.qs

array([ 6,  8, 12], dtype=int64)

In [41]:
prior.ps

array([0.33333333, 0.33333333, 0.33333333])

In [42]:
likelihood1 = 1/6, 1/8, 1/12

In [43]:
posterior = prior * likelihood1
posterior.normalize()
posterior

6     0.444444
8     0.333333
12    0.222222
Name: , dtype: float64

In [44]:
likelihood2 = 0, 1/8, 1/12

In [45]:
posterior *= likelihood2
posterior.normalize()
posterior

6     0.000000
8     0.692308
12    0.307692
Name: , dtype: float64

In [46]:
def update_dice(pmf, data):
    """Update pmf based on new data."""
    hypos = pmf.qs
    likelihood = 1 / hypos
    impossible = (data > hypos)
    likelihood[impossible] = 0
    pmf *= likelihood
    pmf.normalize()

In [47]:
pmf = prior.copy()
pmf

6     0.333333
8     0.333333
12    0.333333
Name: , dtype: float64

In [48]:
update_dice(pmf, 1)
update_dice(pmf, 7)
pmf

6     0.000000
8     0.692308
12    0.307692
Name: , dtype: float64